.navbar {
    background-color: #e38e45;
    opacity: 0.9;
    z-index: 99999;
    display: flex;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    height: 70px;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: black;
}

.brand {
    font-size: 30px;
    font-weight: 600;
}

.brand:hover {
    cursor: pointer;
}

a:hover {
    color: #5c5c5a;
    text-decoration: underline;
}

.brand:hover {
    color: #5c5c5a;
    text-decoration: none;
}

.acount-panel {
    margin-left: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.acount-panel a,
button {
    margin-left: 10px;
}

.logout-button {
    display: flex;
    border-radius: 100%;
    font-size: 25px;
    padding: 10px;
    border: 0;
    background-color: #cb3827;
    color: white;
    transition: all 0.2s;
}

.logout-button:hover {
    cursor: pointer;
    background-color: #5c5c5a;

}